---
---

@import "{{ site.theme }}";

h1,h2,h3,h4,h5,h6 {
	font-family: 'Times New Roman', 'Calibri', Helvetica, Arial, sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
}

#main_content {
	max-width: 800px;
}

#header_wrap .mainpage{
	width: 100%;
	height: 100%;
}

#header_wrap .mainpage .inner {
	top:40%;
	padding: 0px 10px 0px 10px
}

#header_wrap .postpage .inner {
	padding: 30px 10px 30px 10px
}